<ng-container *ngIf="band">
  <app-profile-resume
    [bandInfo]="band.bandInfo"
    [contactInfo]="band.bandContactInfo"
    [profileImage]="band.bandProfileImage"
    [userId]="band.leader.musicianId"
    [members]="band.bandMembersList"
    [leaderProfileImage]="band.leader.musicianProfileImage"
    [isMusicianProfile]="false"
  ></app-profile-resume>
  <app-profile-feed [userId]="bandId" [isMusician]="false"></app-profile-feed>
  <app-profile-reviews
    [band]="band"
    [isMusicianProfile]="false"
  ></app-profile-reviews>
</ng-container>
