<div class="filter">
  <div class="filter-container">
    <p>Filtros</p>
    <form>
      <input
        class="filter-inputs"
        type="text"
        pInputText
        placeholder="Nombre"
      />
      <!-- <p-dropdown
              class="filter-inputs"
              [options]="userType"
              [(ngModel)]="selectedUser"
              optionLabel="nombre"
              (onChange)="changeMultiSelectOptions()"
              placeholder="Selecciona uno">
          </p-dropdown>
          <p-multiSelect
              class="filter-inputs"
              [options]="multipleOptions"
              [(ngModel)]="selectedMultipleOptions"
              optionLabel="nombre"
              placeholder="Selecciona uno o varios">
          </p-multiSelect>
          <h4>Rating: {{ratingValues[0] + ' - ' + ratingValues[1]}}</h4>
          <p-slider
              class="filter-inputs"
              [(ngModel)]="ratingValues"
              [range]="true"
              [min]="1"
              [max]="5"
              [step]="0.1">
          </p-slider>
          <p-dropdown
              class="filter-inputs"
              [options]="experience"
              [(ngModel)]="selectedExperience"
              optionLabel="año"
              (onChange)="changeMultiSelectOptions()"
              placeholder="Años de experiencia">
          </p-dropdown>
          <div class="buttons">
              <button
                  pButton
                  pRipple
                  type="button"
                  label="Limpiar"
                  (click)="clearFilters()"
                  class="limpiar">
              </button>
              <button
                  pButton
                  pRipple
                  type="button"
                  label="Buscar"
                  class="buscar">
              </button>
          </div> -->
    </form>
  </div>
</div>
