.container {
    display: flex;
}

.list {
    width: 100%;
    display: grid;
    gap: 0rem;
    grid-auto-rows: 24rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    overflow-y: auto;
    margin-top: 70px;
}