.container {
  display: flex;
}

.list {
  height: calc(100% - 70px);
  width: calc(100% - 18rem);
  margin-left: 18rem;
  margin-top: 85px;
  display: grid;
  gap: 0rem;
  grid-auto-rows: 24rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  overflow-y: auto;
}
