<mat-card>
  <mat-card-header>
    <mat-card-title>{{ formControlName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="isEdit; else displayInfo">
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="8"
          cdkAutosizeMaxRows="8"
          [formControl]="control"
          placeholder="Escribe un comentario"
        >
        </textarea>
      </mat-form-field>
    </ng-container>
    <ng-template #displayInfo>
      <p>{{ control.value }}</p>
    </ng-template>
  </mat-card-content>
</mat-card>
