<ng-container *ngIf="user">
  <app-profile-resume
    [biographyInfo]="user.biographyInformation"
    [contactInfo]="user.contactInformation"
    [personalInfo]="user.personalInformation"
    [genres]="genres"
    [profileImage]="user.profileImage"
    [userId]="user.id"
  ></app-profile-resume>
  <app-profile-feed
    [posts]="posts"
    [userId]="userId"
    (postDeleted)="getPosts()"
  ></app-profile-feed>
  <app-profile-reviews
    [userId]="user.id"
    [reviews]="reviews"
    (onPostChange)="getPosts()"
  ></app-profile-reviews>
</ng-container>
