<app-dialog icon="rate_review" title="Reseña" (confirmDialog)="postReview()">
  <div class="container">
    <div class="reviewer">
      <app-profile-image
        [picByte]="user()?.profileImage?.picByte"
        [type]="user()?.profileImage?.type"
        class="small-size"
      ></app-profile-image>
      <p>{{ user()?.firstName }} {{ user()?.lastName }}</p>
    </div>
  </div>

  <mat-form-field>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="8"
      cdkAutosizeMaxRows="8"
      [formControl]="formReview"
      placeholder="Escribe un comentario"
    >
    </textarea>
    <mat-error *ngIf="formReview.hasError('required')">
      El comentario es requerido.
    </mat-error>
    <mat-error *ngIf="formReview.hasError('maxlength')">
      Máximo 200 caracteres.
    </mat-error>
  </mat-form-field>
</app-dialog>
