@import "themes";

mat-form-field {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.reviewer {
  display: flex;
  align-items: center;
}

.stars span {
  font-size: 40px;
  color: $main-color;
}
