<div class="header">
  <mat-icon style="margin-left: 1em">rate_review</mat-icon>
  <span style="margin-left: 0.5em">Reseña</span>
</div>
<div class="container">
  <div class="reviewer">
    <img
      class="profile-image"
      [src]="
        user()?.profileImage?.picByte
          | sanitizeImage : user()?.profileImage?.type
      "
      alt=""
      onerror="src='../../../../../assets/images/no-profile-picture.png'"
    />
    <p>{{ user()?.firstName }} {{ user()?.lastName }}</p>
  </div>
  <div class="stars">
    <span class="material-symbols-outlined"> grade </span>
    <span class="material-symbols-outlined"> grade </span>
    <span class="material-symbols-outlined"> grade </span>
    <span class="material-symbols-outlined"> grade </span>
    <span class="material-symbols-outlined"> grade </span>
  </div>
</div>

<mat-form-field>
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="8"
    cdkAutosizeMaxRows="8"
    [formControl]="formReview"
    placeholder="Escribe una reseña"
  >
  </textarea>
  <mat-error *ngIf="formReview.hasError('required')">
    La reseña es requerida.
  </mat-error>
  <mat-error *ngIf="formReview.hasError('maxlength')">
    Máximo 200 caracteres.
  </mat-error>
</mat-form-field>
<div class="actions">
  <app-button
    (click)="closeDialog()"
    label="Cancelar"
    color="warn"
  ></app-button>
  <app-button
    (click)="postReview()"
    style="margin-right: 1em"
    type="submit"
    label="Postear"
  ></app-button>
</div>
