<div class="container" [class.loading]="loading">
  <form autocomplete="off" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="reset">
      <h2>Recuperar contraseña</h2>
      <app-input-text
        formControlName="password"
        type="password"
        placeholder="Nueva contraseña"
        [required]="true"
        invalidErrorMessage="La contraseña debe tener un mínimo de 6 caracteres"
      >
      </app-input-text>
      <app-input-text
        formControlName="repeatPassword"
        type="password"
        placeholder="Repetir contraseña"
        [required]="true"
        invalidErrorMessage="Las contraseñas no coinciden"
      >
      </app-input-text>
      <button type="submit" [disabled]="loading">Confirmar</button>
    </div>
  </form>
</div>

<mat-spinner *ngIf="loading" color="primary"></mat-spinner>
