.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;

  span {
    font-size: 55px;
    color: #38424c;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}
