<div class="dropzone" appDnd>
  <span class="material-symbols-outlined"> publish </span>
  <h3>Arrastra y suelta el archivo aquí</h3>
  <h3>o</h3>
  <app-button label="Buscar archivo" (click)="fileInput.click()"> </app-button>
  <input
    hidden
    (change)="onFileSelected($event)"
    #fileInput
    type="file"
    id="file"
    accept="image/png,image/jpg,image/jpeg"
  />
</div>

<mat-card class="image-preview-card" *ngIf="imageSrc || imagePath">
  <div class="image-name">
    <img *ngIf="imagePath" [src]="apiUrl + '/' + imagePath" alt="Preview" />
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Preview" />
    <span>{{ fileName }}</span>
  </div>
  <button mat-icon-button type="button" (click)="deleteFile()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
