@import "themes";

form {
  display: flex;
  flex-direction: column;
}

.container {
  width: 23vw;
  height: 100%;
  background-color: $white;
  text-align: center;
  position: fixed;
  left: 0;
  z-index: 2;
  padding-top: 1em;
}

.requests {
  display: flex;
  p {
    color: $text-grey;
  }
}

mat-card {
  width: 100%;
}

.request-list {
  width: 100%;
  padding: 2em;
  margin-left: 23vw;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0em 1em;
  margin-bottom: 1em;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.card-actions {
  display: flex;
  gap: 1em;
}
