<div class="requests" *ngIf="band && band.leader.musicianId === user()?.id">
  <div class="container">
    <app-profile-image
      [picByte]="band.bandProfileImage.picByte"
      [type]="band.bandProfileImage.type"
      class="large-size"
    ></app-profile-image>
    <h2 style="margin-bottom: 1.5rem">{{ band.bandInfo.name }}</h2>

    <form [formGroup]="formGroup">
      <app-input-select
        appearance="outline"
        [items]="leaderBands"
        propToReturn="id"
        formControlName="bandId"
        placeholder="Tus bandas"
      >
      </app-input-select>

      <app-input-select
        *ngIf="!!advertisements.length"
        appearance="outline"
        [items]="advertisements"
        propToReturn="id"
        formControlName="adId"
        placeholder="Avisos"
      >
      </app-input-select>

      <app-button
        *ngIf="advertisements.length && formGroup.get('adId')?.value"
        color="warn"
        label="Borrar aviso"
        (click)="deleteAdvertisement()"
      ></app-button>

      <span *ngIf="!advertisements.length">Aún no has publicado avisos</span>
    </form>
  </div>

  <div class="request-list">
    <ng-container *ngFor="let application of applications">
      <mat-card class="card-content">
        <div class="card-info">
          <a [routerLink]="'/profile/' + application.musicianId">
            <app-profile-image
              [picByte]="application.musicianImage.picByte"
              [type]="application.musicianImage.type"
              class="medium-size"
            ></app-profile-image>
          </a>
          <h3>{{ application.musicianName }}</h3>
          <p>Quiere unirse a tu banda:</p>
          <p>{{ application.applicationMessage }}</p>
        </div>
        <div class="card-actions">
          <button
            mat-stroked-button
            color="primary"
            (click)="applicationChange(application.applicationId, true)"
          >
            Aceptar
          </button>
          <button
            mat-stroked-button
            color="warn"
            (click)="applicationChange(application.applicationId, false)"
          >
            Rechazar
          </button>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
