@import "themes";

button {
  margin-right: 0.5em;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 16px;
  padding: 1.4em;
}

button:hover {
  transform: scale(1.05, 1.05);
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: $white;
}
