<div class="header">
  <a class="logo" routerLink="/">
    <img class="logo" src="../../../../assets/images/atb-alt-logo.png" alt="" />
  </a>
  <div class="profile-options">
    <ng-container *ngIf="status() == 'authenticated'; else Unauthenticated">
      <button mat-button [matMenuTriggerFor]="menu">
        <span>{{ user()?.firstName }}</span>
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <app-profile-image
        [picByte]="user()?.profileImage?.picByte"
        [type]="user()?.profileImage?.type"
        class="small-size"
      ></app-profile-image>
    </ng-container>
  </div>
</div>

<ng-template #Unauthenticated>
  <a routerLink="/auth/register"> Registrarse </a>
  <a routerLink="/auth/login"> Conectarse </a>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/profile/' + user()?.id">
    Ver perfil
  </button>
  <button mat-menu-item routerLink="/auth/login" (click)="authService.logout()">
    Cerrar sesión
  </button>
</mat-menu>
