<div class="header">
  <a class="logo" routerLink="/">
    <img class="logo" src="../../../../assets/images/atb-alt-logo.png" alt="" />
  </a>
  <div class="menu-buttons">
    <ng-container *ngIf="status() == 'authenticated'; else Unauthenticated">
      <button mat-button routerLink="/band/list" class="text-white">
        <span class="text-white">Buscar bandas</span>
      </button>
      <button mat-button routerLink="/list" class="text-white">
        <span class="text-white">Buscar músicos</span>
      </button>
      <button
        mat-button
        [matBadge]="invitations.length"
        [matBadgeHidden]="!invitations.length"
        matBadgeColor="warn"
        [matMenuTriggerFor]="invitationsMenu"
      >
        <span class="text-white">Mis invitaciones</span>
      </button>
      <button mat-button routerLink="/advertisements" class="text-white">
        <span class="text-white">Avisos</span>
      </button>
      <button mat-button [matMenuTriggerFor]="bandsMenu">
        <span class="text-white">Mis bandas</span>
      </button>
      <div class="profile-options">
        <button
          mat-button
          [matMenuTriggerFor]="userMenu"
          *ngIf="user()?.profileSet"
        >
          <span class="text-white">{{ user()?.firstName }}</span>
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <app-profile-image
          [picByte]="user()?.profileImage?.picByte"
          [type]="user()?.profileImage?.type"
          class="small-size"
        ></app-profile-image>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #Unauthenticated>
  <a routerLink="/auth/register"> Registrarse </a>
  <a routerLink="/auth/login"> Conectarse </a>
</ng-template>

<mat-menu #invitationsMenu="matMenu">
  <span *ngIf="!invitations.length" class="text no-invitations"
    >No hay invitaciones</span
  >
  <ng-container *ngFor="let invitation of invitations">
    <div class="invitations">
      <div
        class="menu-option invitation"
        [routerLink]="'/band/profile/' + invitation.bandInvitation.id"
      >
        <app-profile-image
          [picByte]="invitation.bandInvitation.image.picByte"
          [type]="invitation.bandInvitation.image.type"
          class="small-size"
        ></app-profile-image>
        <span class="text">{{ invitation.bandInvitation.bandInfo.name }}</span>
      </div>
      <div class="actions">
        <span class="material-symbols-rounded done"> done </span>
        <span class="material-symbols-rounded close"> close </span>
      </div>
    </div>
  </ng-container>
</mat-menu>

<mat-menu #bandsMenu="matMenu">
  <ng-container *ngIf="musicianBands.length > 0; else noBands">
    <ng-container *ngFor="let band of musicianBands">
      <button mat-menu-item [routerLink]="'band/profile/' + band.bandId">
        <div class="menu-option">
          <app-profile-image
            [picByte]="band.bandImage.picByte"
            [type]="band.bandImage.type"
            class="small-size"
          ></app-profile-image>
          <span>{{ band.bandName }}</span>
        </div>
      </button>
    </ng-container>
  </ng-container>
  <mat-divider></mat-divider>
  <button class="create-band" mat-menu-item routerLink="/band/create">
    Crear banda
  </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="'/profile/' + user()?.id">
    Ver perfil
  </button>
  <button mat-menu-item [routerLink]="'/profile/' + user()?.id">
    Editar perfil
  </button>
  <button mat-menu-item routerLink="/auth/login" (click)="authService.logout()">
    Cerrar sesión
  </button>
</mat-menu>

<ng-template #noBands>
  <span class="no-bands"> No eres miembro de ninguna banda</span>
</ng-template>
