@import "themes";

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(254, 221, 105, 1) 0%,
    rgba(255, 199, 0, 1) 35%,
    rgba(225, 135, 53, 1) 100%
  );
  z-index: 3;
}

img.logo {
  width: 120px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a.logo {
  margin-left: 1em;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  transition: all 300ms;
}

a {
  margin-right: 1em;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  transition: all 300ms;
}

.menu-buttons {
  display: flex;
  align-items: center;
  margin-right: 1em;
  gap: 1em;
}

.profile-options,
.menu-option {
  display: flex;
  align-items: center;
}

.menu-option {
  gap: 10px;
}

span.text-white,
.mat-icon {
  color: $white;
}

.no-invitations {
  padding: 0.5em;
}

.no-bands {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  font-size: 14px;
  text-align: center;
  color: $text-grey;
}

.invitations {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0.5em;
  .invitation {
    cursor: pointer;
  }
}

.actions {
  display: flex;
  gap: 5px;
  span.done {
    color: $main-color;
    cursor: pointer;
  }
  span.close {
    color: #dc3545;
    cursor: pointer;
  }
  span.done:hover,
  span.close:hover {
    background-color: #fde7bc;
    border-radius: 50%;
  }
}

:host::ng-deep {
  .mat-mdc-button .mdc-button__label + .mat-icon {
    margin-left: 2px;
  }
  .mat-mdc-button,
  .mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: none;
    --mat-mdc-button-ripple-color: none;
  }

  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -2px;
  }
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -7px;
  }
  .mat-badge-medium .mat-badge-content {
    width: 20px;
    height: 20px;
  }
}
