<div class="header">
  <a class="logo" routerLink="/">
    <img class="logo" src="../../../../assets/images/atb-alt-logo.png" alt="" />
  </a>
  <div class="profile-options">
    <ng-container *ngIf="status() == 'authenticated'; else Unauthenticated">
      <span>{{ user()?.firstName }}</span>
      <a routerLink="/auth/login" (click)="logout()">
        <img
          class="profile-image"
          [src]="
            user()?.profileImage?.picByte
              | sanitizeImage : user()?.profileImage?.type
          "
          alt=""
          onerror="src='../../../../../assets/images/no-profile-picture.png'"
        />
      </a>
    </ng-container>
  </div>
</div>

<ng-template #Unauthenticated>
  <a routerLink="/auth/register"> Registrarse </a>
  <a routerLink="/auth/login"> Conectarse </a>
</ng-template>
