<div class="profile">
    <div class="personal-data">
        <img src="{{user.image}}" alt="">
        <h3>{{user.firstname}} {{user.lastname}}</h3>
        <p>Musico</p>
        <app-button [type]="'button'" [label]="'Contactar'"></app-button>
    </div>
    <div class="feed">
        <h2>Sobre {{user.firstname}}</h2>
        <p>{{user.description}}</p>
        <h2>Experiencia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempore doloremque deleniti. Labore distinctio enim quod, eum sequi eligendi vel. Earum animi amet error obcaecati, nihil praesentium illo eum officiis?</p>
        <h2>Formación académica</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, quos animi. Sunt, id. Ipsum fuga ex harum. At natus nulla voluptas aspernatur molestiae non harum? Dolorum molestiae consectetur repudiandae quaerat!</p>
    </div>
</div>
