<div class="container">
  <ng-container *ngIf="isMusicianProfile; else bandProfile">
    <div class="button">
      <ng-container *ngIf="user()?.id === userId; else reviewButton">
        <app-button
          (click)="openAddPostDialog()"
          class="larger"
          label="Subir post"
          icon="add_a_photo"
        ></app-button>
      </ng-container>
    </div>
    <div class="reviews">
      <div *ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #bandProfile>
  <div class="button">
    <ng-container
      *ngIf="band && user()?.id === band.leader.musicianId; else reviewButton"
    >
      <div class="band-buttons">
        <app-button
          (click)="openAddPostDialog()"
          class="larger"
          label="Subir post"
          icon="add_a_photo"
        ></app-button>

        <app-button
          class="larger"
          label="Publicar aviso"
          icon="lyrics"
        ></app-button>
      </div>
    </ng-container>
  </div>
  <div class="reviews">
    <div *ngFor="let comment of band.comments">
      <app-review [review]="comment"></app-review>
    </div>
  </div>
</ng-template>

<ng-template #reviewButton>
  <app-button
    (click)="openAddReviewDialog()"
    class="larger"
    label="Dejar comentario"
    icon="rate_review"
  ></app-button>
</ng-template>
