<div class="container">
  <div class="button">
    <ng-container *ngIf="user()?.id === userId; else inviteButton">
      <app-button
        (click)="openAddPostDialog()"
        class="larger"
        label="Subir post"
        icon="add_a_photo"
      ></app-button>
    </ng-container>
  </div>
  <div class="reviews">
    <div *ngFor="let review of reviews">
      <app-review></app-review>
    </div>
  </div>
</div>

<ng-template #inviteButton>
  <app-button class="larger" label="Invitar" icon="person_add"></app-button>
</ng-template>
