.container {
  display: flex;
}

.list {
  width: calc(100% - 18rem);
  margin-left: 18rem;
  margin-top: 2em;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
}
