:host {
  height: calc(100% - 70px);
  margin-top: 70px;
  display: block;
}

.actions {
  display: flex;
  justify-content: end;
  padding: 1em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
