@import "themes";

:host {
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  app-button {
    margin-top: 20px;
    margin-left: 1em;
  }
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: $main-color;
  margin-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin-bottom: 20px;
}

.career,
.skills,
.preferences {
  margin-bottom: 20px;
}

.career span,
.skills span,
.preferences span {
  font-weight: bold;
  color: #555;
}

h4 {
  color: $main-color;
}

p {
  margin-bottom: 10px;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skill-item {
  margin-bottom: 10px;
}

.skill-item span {
  margin-right: 10px;
  font-weight: bold;
}

.preferences {
  display: flex;
  gap: 8px;
}

.tag {
  padding: 3px;
  font-size: 14px;
  background-color: $main-color;
  color: $white;
  width: 100px;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
}
