<div class="container">
  <img
    src="https://static.vecteezy.com/system/resources/previews/005/520/506/non_2x/cartoon-drawing-of-a-musician-vector.jpg"
    alt=""
    onerror="src='../../../../../assets/images/no-profile-picture.png'"
  />
  <h2>Fabrizio Laviola</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
    pellentesque eu, pretium.
  </p>
  <div class="actions">
    <app-button label="Website" icon="wysiwyg"></app-button>
    <app-button label="Contacto" icon="call"></app-button>
  </div>
</div>
