<div class="container">
  <app-profile-image
    [picByte]="profileImage?.picByte"
    [type]="profileImage?.type"
    class="large-size"
  ></app-profile-image>
  <ng-container *ngIf="isMusicianProfile; else band">
    <h2>{{ personalInfo.name }} {{ personalInfo.lastname }}</h2>
    <p>{{ biographyInfo.bio }}</p>
    <ng-container *ngIf="!!profileBandsMember.length">
      <h4 class="bands-text">Bandas:</h4>
      <div class="bands">
        <ng-container *ngFor="let band of profileBandsMember">
          <a [routerLink]="'/band/profile/' + band.bandId">
            <app-profile-image
              [picByte]="band.bandImage.picByte"
              [type]="band.bandImage.type"
              class="small-size"
            >
            </app-profile-image>
          </a>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="isMusicianProfile" class="actions">
    <ng-container *ngIf="user()?.id !== userId && !isMemberOfAllBands">
      <app-button
        *ngIf="user()?.id !== userId && !hasBeenInvitedToAllBands"
        label="Invitar"
        icon="person_add"
        class="larger"
        (click)="inviteToBand()"
      ></app-button>
      <button mat-stroked-button disabled *ngIf="hasBeenInvitedToAllBands">
        <mat-icon>person_add</mat-icon>
        Pendiente
      </button>
    </ng-container>

    <app-button label="+ Info" class="larger" (click)="goToInfo()"></app-button>
  </div>
</div>

<ng-template #band>
  <h2>{{ bandInfo.name }}</h2>
  <p>{{ bandInfo.description }}</p>
  <ng-container *ngIf="user()?.id === userId">
    <app-button
      label="Solicitudes"
      class="medium"
      [routerLink]="'/band/requests/' + bandId"
    ></app-button>
    <app-button
      label="Editar"
      class="medium"
      [routerLink]="'/band/edit/' + bandId"
    ></app-button>
  </ng-container>

  <h4 class="bands-text">Líder:</h4>
  <a class="bands-text" [routerLink]="'/profile/' + userId">
    <app-profile-image
      [picByte]="leaderProfileImage.picByte"
      [type]="leaderProfileImage.type"
      class="small-size"
    ></app-profile-image>
  </a>
  <ng-container *ngIf="!!members?.length">
    <h4 class="bands-text">Miembros:</h4>
    <div class="bands">
      <ng-container *ngFor="let member of members">
        <a class="bands-text" [routerLink]="'/profile/' + member.musicianId">
          <app-profile-image
            [picByte]="member.musicianProfileImage.picByte"
            [type]="member.musicianProfileImage.type"
            class="small-size"
          ></app-profile-image>
        </a>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<!-- TODO: Add social media -->
