<div class="container">
  <div>
    <app-profile-image
      [imagePath]="musician?.imagePath || band?.imagePath"
      class="large-size"
    ></app-profile-image>
    <ng-container *ngIf="isMusicianProfile; else bandTemplate">
      <h2>{{ musician?.firstName }} {{ musician?.lastName }}</h2>
      <p>{{ musician?.bio }}</p>
      <ng-container *ngIf="!!profileBandsMember.length">
        <h4 class="bands-text">Miembro de:</h4>
        <div class="member">
          <ng-container *ngFor="let band of musician?.bands">
            <a [routerLink]="'/band/profile/' + band.id">
              <app-profile-image
                [imagePath]="band.imagePath"
                class="small-size"
              >
              </app-profile-image>
            </a>
          </ng-container>
        </div>
      </ng-container>
      <div>
        <h4 class="bands-text">Géneros:</h4>
        <div class="bands-text">
          <ng-container *ngFor="let genre of musician?.genres; let last = last">
            <span>{{ genre.name }}</span>
            <span *ngIf="!last">, </span>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div *ngIf="isMusicianProfile" class="actions">
      <ng-container *ngIf="user()?.id !== musician?.id && !isMemberOfAllBands">
        <app-button
          *ngIf="user()?.id !== musician?.id && !hasBeenInvitedToAllBands"
          label="Invitar"
          icon="person_add"
          class="larger"
          (click)="inviteToBand()"
        ></app-button>
        <button mat-stroked-button disabled *ngIf="hasBeenInvitedToAllBands">
          <mat-icon>person_add</mat-icon>
          Pendiente
        </button>
      </ng-container>

      <app-button
        label="+ Info"
        class="larger"
        (click)="goToInfo()"
      ></app-button>
    </div>
  </div>

  <div class="contact-info">
    <div *ngIf="!isMusicianProfile" class="contact">
      <span class="material-symbols-outlined"> location_on </span>
      <p>
        {{ band?.city }}, {{ band!.state | translate }},
        {{ band!.country | translate }}
      </p>
    </div>
    <div *ngIf="isMusicianProfile" class="contact">
      <span class="material-symbols-outlined"> location_on </span>
      <p>
        {{ musician?.city }}, {{ musician!.state | translate }},
        {{ musician!.country | translate }}
      </p>
    </div>
    <div *ngIf="musician?.phoneNumber || band?.phoneNumber" class="contact">
      <span class="material-symbols-outlined"> call </span>
      <p>{{ musician?.phoneNumber || band?.phoneNumber }}</p>
    </div>
    <div *ngIf="musician?.socialMedia || band?.socialMedia" class="contact">
      <span class="material-symbols-outlined"> group </span>
      <p>{{ musician?.socialMedia || band?.socialMedia }}</p>
    </div>
    <div *ngIf="musician?.webSite || band?.webSite" class="contact">
      <span class="material-symbols-outlined"> public </span>
      <p (click)="redirectToUserWebsite()" class="website">
        {{ musician?.webSite || band?.webSite }}
      </p>
    </div>
  </div>
</div>

<ng-template #bandTemplate>
  <h2>{{ band?.name }}</h2>
  <p>{{ band?.description }}</p>
  <ng-container *ngIf="user()?.id === band?.leader?.id">
    <app-button
      label="Solicitudes"
      class="medium"
      [routerLink]="'/band/requests/' + band?.id"
    ></app-button>
    <app-button
      label="Editar"
      class="medium"
      [routerLink]="'/band/edit/' + band?.id"
    ></app-button>
    <app-button
      label="Borrar"
      class="medium"
      color="warn"
      (click)="deleteBanda()"
    ></app-button>
  </ng-container>

  <app-button
    *ngIf="isMember()"
    color="warn"
    label="Dejar banda"
    (click)="leaveBand()"
  ></app-button>

  <h4 class="bands-text">Líder:</h4>
  <a class="bands-text" [routerLink]="'/profile/' + band?.leader?.id">
    <app-profile-image
      [imagePath]="band?.leader?.imagePath"
      class="small-size"
    ></app-profile-image>
  </a>
  <ng-container *ngIf="!!band?.members?.length">
    <h4 class="bands-text">Miembros:</h4>
    <div class="bands">
      <ng-container *ngFor="let member of band?.members">
        <a class="bands-text" [routerLink]="'/profile/' + member.id">
          <app-profile-image
            [imagePath]="member.imagePath"
            class="small-size"
          ></app-profile-image>
        </a>
      </ng-container>
    </div>
  </ng-container>

  <div>
    <h4 class="bands-text">Géneros:</h4>
    <div class="bands-text">
      <ng-container *ngFor="let genre of band?.genres; let last = last">
        <span>{{ genre.name }}</span>
        <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </div>
</ng-template>
