<div class="card" (click)="openProfile()">
  <div class="tag" *ngIf="musician.preferenceInformation?.lookingBands">
    Busca banda
  </div>
  <div class="pickgradient">
    <app-profile-image
      [picByte]="musician.profileImage?.picByte"
      [type]="musician.profileImage?.type"
      class="list-size"
    ></app-profile-image>
    <div class="image-text">
      <h3>{{ musician.personalInformation.name }}</h3>
    </div>
  </div>

  <div class="rating">
    <i class="fa fa-star"></i>
    <span class="margin">4.5</span>
    <p>({{ musician.reviews?.length }} reseñas)</p>
    <span class="margin">Músico</span>
  </div>

  <p>{{ musician.biographyInformation.bio }}</p>
</div>
