<mat-card>
  <h2 *ngIf="!band">Crear banda</h2>
  <h2 *ngIf="band">Editar banda</h2>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="bandInfoFormGroup">
      <form [formGroup]="bandInfoFormGroup">
        <ng-template matStepLabel>Información de la banda</ng-template>
        <div class="band-info-content">
          <div class="band-info-inputs">
            <!-- Name -->
            <app-input-text
              appearance="outline"
              formControlName="name"
              type="text"
              placeholder="Nombre"
              class="textinput"
              [width]="300"
              [required]="true"
            >
            </app-input-text>

            <!-- Country -->
            <app-input-text
              appearance="outline"
              formControlName="country"
              type="text"
              placeholder="País"
              class="textinput"
              [width]="300"
              [required]="true"
            >
            </app-input-text>

            <!-- City -->
            <app-input-text
              appearance="outline"
              formControlName="city"
              type="text"
              placeholder="Ciudad"
              class="textinput"
              [width]="300"
              [required]="true"
            >
            </app-input-text>

            <!-- Phone number -->
            <app-input-text
              appearance="outline"
              formControlName="phoneNumber"
              type="text"
              placeholder="Número de télefono"
              class="textinput"
              [width]="300"
            >
            </app-input-text>

            <!-- Web Site -->
            <app-input-text
              appearance="outline"
              formControlName="webSite"
              type="text"
              placeholder="Sitio web"
              class="textinput"
              [width]="300"
            >
            </app-input-text>

            <!-- Social Media -->
            <app-input-text
              appearance="outline"
              formControlName="socialMedia"
              type="text"
              placeholder="Red social"
              class="textinput"
              [width]="300"
            >
            </app-input-text>

            <!-- Genres -->
            <app-input-select
              appearance="outline"
              [items]="genres"
              [multiple]="true"
              [required]="true"
              formControlName="bandGenres"
              placeholder="Géneros"
            >
            </app-input-select>
          </div>

          <!-- Description -->
          <mat-form-field
            appearance="outline"
            style="width: 100%; margin-top: 1em"
          >
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              rows="4"
              cols="200"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="stepper-buttons">
          <button mat-flat-button matStepperNext color="primary">
            Siguiente
          </button>
        </div>
      </form>

      <mat-step>
        <form (submit)="onSubmit()">
          <ng-template matStepLabel>Imagen de perfil</ng-template>
          <app-drag-and-drop
            *ngIf="band"
            [image]="band.bandProfileImage"
            (fileSelected)="setSelectedFile($event)"
          ></app-drag-and-drop>
          <app-drag-and-drop
            *ngIf="!band"
            (fileSelected)="setSelectedFile($event)"
          ></app-drag-and-drop>
          <div class="stepper-buttons-last-step">
            <button mat-flat-button matStepperPrevious color="primary">
              Volver
            </button>
            <app-button
              *ngIf="!band"
              type="submit"
              label="Crear perfil"
            ></app-button>
            <app-button
              *ngIf="band"
              type="button"
              label="Confirmar edición"
              (click)="onSubmit(true)"
            ></app-button>
          </div>
        </form>
      </mat-step>
    </mat-step>
  </mat-stepper>
</mat-card>
