<app-dialog
  icon="person_add"
  title="Elige una banda a la cual invitar al músico"
  (confirmDialog)="confirmBandInvitation()"
  [dataToReturn]="selectedBandId"
  [returnsData]="true"
>
  <mat-selection-list
    *ngIf="bands"
    [multiple]="false"
    color="primary"
    [(ngModel)]="selectedBands"
  >
    <ng-container *ngFor="let band of bands">
      <mat-list-option
        [value]="band"
        [disabled]="
          band.status === MusicianStatusBand.Member ||
          band.status === MusicianStatusBand.Pending
        "
      >
        <div class="band-name">
          <app-profile-image
            [picByte]="band.musicianBandsDto.bandImage.picByte"
            [type]="band.musicianBandsDto.bandImage.type"
            class="medium-size"
          ></app-profile-image>
          <span>{{ band.musicianBandsDto.bandName }}</span>
          <span *ngIf="band.status === MusicianStatusBand.Member"
            >(Ya pertenece a esta banda)
          </span>
          <span *ngIf="band.status === MusicianStatusBand.Pending"
            >(Invitación pendiente)</span
          >
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</app-dialog>
