<app-dialog
  icon="person_add"
  title="Elige una banda a la cual invitar al músico"
  (confirmDialog)="confirmBandInvitation()"
>
  <mat-selection-list
    *ngIf="bands"
    [multiple]="false"
    color="primary"
    [(ngModel)]="selectedBands"
  >
    <ng-container *ngFor="let band of bands">
      <mat-list-option
        [value]="band"
        [disabled]="
          band.status === MusicianStatusBand.MEMBER ||
          band.status === MusicianStatusBand.PENDING_INVITATION
        "
      >
        <div class="band-name">
          <app-profile-image
            [imagePath]="band.imagePath"
            class="medium-size"
          ></app-profile-image>
          <span>{{ band.name }}</span>
          <span *ngIf="band.status === MusicianStatusBand.MEMBER"
            >(Ya pertenece a esta banda)
          </span>
          <span *ngIf="band.status === MusicianStatusBand.PENDING_INVITATION"
            >(Invitación pendiente)</span
          >
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</app-dialog>
