<app-dialog
  icon="person_add"
  title="Elige una banda a la cual invitar al músico"
  (confirmDialog)="confirmBandInvitation()"
>
  <mat-selection-list
    [multiple]="false"
    color="primary"
    [(ngModel)]="selectedBands"
  >
    <ng-container *ngFor="let band of bands">
      <mat-list-option [value]="band">
        <div class="band-name">
          <app-profile-image
            [picByte]="band.bandImage.picByte"
            [type]="band.bandImage.type"
            class="medium-size"
          ></app-profile-image>
          <span>{{ band.bandName }}</span>
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</app-dialog>
