<div class="home-body">
  <div class="content">
    <form [formGroup]="formGroup">
      <p>Encontrá tu banda ideal</p>
      <div class="search-bar">
        <div class="dropdowns">
          <mat-form-field>
            <mat-label>Selecciona uno</mat-label>
            <mat-select>
              <mat-option *ngFor="let genre of musicGenres">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Selecciona uno o varios</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let instrument of instruments">
                {{ instrument }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <app-button [type]="'submit'" [label]="'Buscar'"></app-button>
      </div>
    </form>
  </div>
</div>
