<div class="home-body">
  <div class="content">
    <form [formGroup]="formGroup">
      <p>Encontrá tu banda ideal</p>
      <div class="search-bar">
        <div class="dropdowns">
          <app-select
            [items]="musicGenres"
            formControlName="musicGenres"
            placeholder="Selecciona uno"
          >
          </app-select>

          <app-select
            [items]="instruments"
            formControlName="instruments"
            placeholder="Selecciona uno o varios"
            [multiple]="true"
          >
          </app-select>
        </div>
        <app-button [type]="'submit'" [label]="'Buscar'"></app-button>
      </div>
    </form>
  </div>
</div>
