<div class="home-body">
  <div class="content">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <p>Encontrá tu banda ideal</p>
      <div class="search-bar">
        <div class="dropdowns">
          <app-input-select
            [items]="musicGenres"
            formControlName="genres"
            placeholder="Selecciona uno"
            class="home-input"
          >
          </app-input-select>
          <div class="divider"></div>
          <app-input-select
            [items]="instruments"
            formControlName="instruments"
            placeholder="Selecciona uno o varios"
            [multiple]="true"
            class="home-input"
          >
          </app-input-select>
        </div>
        <app-button [type]="'submit'" [label]="'Buscar'"></app-button>
      </div>
    </form>
  </div>
</div>
