.default-input {
  width: 100%;
}

:host::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
  }
  .filter-input {
    width: 100%;
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
