<div class="form-container">
  <h2>Creacion del perfil</h2>
  <mat-stepper orientation="horizontal" [linear]="true" #stepper>
    <mat-step [stepControl]="personalformGroup">
      <form [formGroup]="personalformGroup">
        <ng-template matStepLabel>Información personal</ng-template>

        <mat-form-field class="textinput">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Apellido"
            formControlName="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Nombre artístico</mat-label>
          <input
            matInput
            placeholder="Nombre artístico"
            formControlName="stageName"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            placeholder="Ciudad"
            formControlName="city"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Pais</mat-label>
          <input
            matInput
            placeholder="Pais"
            formControlName="country"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Número celular</mat-label>
          <input
            matInput
            placeholder="Nro. celular"
            formControlName="phoneNumber"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Selecciona una fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Website personal</mat-label>
          <input
            matInput
            placeholder="Website"
            formControlName="webSite"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Red social</mat-label>
          <input
            matInput
            placeholder="Red social"
            formControlName="socialMediaLink"
            required
          />
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="skillsFormGroup">
      <form [formGroup]="skillsFormGroup">
        <ng-template matStepLabel>Instrumentos</ng-template>

        <ng-container formArrayName="skills">
          <ng-container
            *ngFor="let skillForm of skillsFormArrayControls; let i = index"
          >
            <div [formGroup]="skillForm">
              <app-input-select
                [items]="instruments"
                formControlName="instrument"
                placeholder="Selecciona uno"
                [required]="true"
              >
              </app-input-select>

              <app-input-select
                [items]="experienceTypes"
                formControlName="experience"
                placeholder="Experiencia"
                [required]="true"
              >
              </app-input-select>

              <mat-icon (click)="deleteInstrument(i)">delete</mat-icon>
            </div>
          </ng-container>
        </ng-container>

        <app-button icon="add" label="Agregar" (click)="addInstrument()">
        </app-button>

        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="bioformGroup">
      <form [formGroup]="bioformGroup">
        <ng-template matStepLabel>Biografia</ng-template>
        <mat-form-field class="bioinput">
          <mat-label>Biografia</mat-label>
          <textarea
            matInput
            placeholder="Ex. It makes me feel..."
            rows="2"
            cols="200"
            style="width: 500px"
            formControlName="bio"
          ></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="profileImageformGroup">
      <form
        [formGroup]="profileImageformGroup"
        enctype="multipart/form-data"
        (ngSubmit)="onSubmit()"
      >
        <ng-template matStepLabel>Subir foto de perfil</ng-template>
        <app-drag-and-drop
          (fileSelected)="setSelectedFile($event)"
        ></app-drag-and-drop>
        <button type="submit">Crear perfil</button>
      </form>
    </mat-step>
  </mat-stepper>
</div>
