@import "themes";

:host {
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
}

.personal-info-form {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 2em;
  .personal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.stepper-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.new-button {
  display: flex;
  justify-content: center;
}

.instruments-inputs,
.preferences {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

mat-icon {
  color: $text-grey;
  cursor: pointer;
}

.bands {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 800px;
}

.band-description {
  width: 800px;
}

button {
  margin-right: 0.5em;
  border-radius: 15px;
  transition: all 0.4s;
  padding: 1.4em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover {
  transform: scale(1.05, 1.05);
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: $white;
}
