<div class="form-container">
  <h2>Creacion del perfil</h2>
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="personalInfoForm">
      <form [formGroup]="personalInfoForm">
        <ng-template matStepLabel>Información personal</ng-template>
        <mat-form-field class="textinput">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="firstName"
            required
          />
        </mat-form-field>
        <mat-form-field class="textinput">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Apellido"
            formControlName="lastName"
            required
          />
        </mat-form-field>
        <mat-form-field class="textinput">
          <mat-label>Nombre artístico</mat-label>
          <input
            matInput
            placeholder="Nombre artístico"
            formControlName="stageName"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="locationForm">
      <form [formGroup]="locationForm">
        <ng-template matStepLabel>Ubicación y contacto</ng-template>
        <mat-form-field class="textinput">
          <mat-label>Ciudad</mat-label>
          <input
            matInput
            placeholder="Ciudad"
            formControlName="city"
            required
          />
        </mat-form-field>
        <mat-form-field class="textinput">
          <mat-label>Pais</mat-label>
          <input
            matInput
            placeholder="Pais"
            formControlName="country"
            required
          />
        </mat-form-field>
        <mat-form-field class="textinput">
          <mat-label>Número celular</mat-label>
          <input
            matInput
            placeholder="Nro. celular"
            formControlName="phoneNumber"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="socialMediaForm">
      <ng-template matStepLabel>Redes sociales y sitio web</ng-template>
      <form [formGroup]="socialMediaForm">
        <mat-form-field class="textinput">
          <mat-label>Website personal</mat-label>
          <input
            matInput
            placeholder="Website"
            formControlName="webSite"
            required
          />
        </mat-form-field>

        <mat-form-field class="textinput">
          <mat-label>Red social</mat-label>
          <input
            matInput
            placeholder="Red social"
            formControlName="socialMediaLink"
            required
          />
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="instrumentForm">
      <ng-template matStepLabel>Selección de instrumentos</ng-template>
      <form [formGroup]="instrumentForm">
        <mat-form-field>
          <mat-label>Instrumentos</mat-label>
          <mat-select multiple>
            <mat-option> {{ "opcion1" }} </mat-option>
            <mat-option> {{ "opcion2" }} </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Biografia</ng-template>
      <form [formGroup]="bioForm">
        <mat-form-field class="bioinput">
          <mat-label>Biografia</mat-label>
          <textarea
            matInput
            placeholder="Ex. It makes me feel..."
            rows="2"
            cols="200"
            style="width: 500px"
          ></textarea>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Subir foto de perfil</ng-template>
      <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          Choose File
        </button>
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          id="file"
          accept="image/png,image/jpg,image/jpeg"
        />
        <div>
          <button type="submit">Crear perfil</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
