.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0em 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 19rem;
  margin-right: 1em;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
