<app-filters [isMusiciansList]="false"></app-filters>
<ng-container *ngFor="let request of [1, 2, 3, 4]">
  <mat-card class="card-content">
    <div class="card-info">
      <app-profile-image
        [picByte]="undefined"
        [type]="undefined"
        class="medium-size"
      ></app-profile-image>
      <h3>AC/DC</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequatur
        omnis adipisci quod sunt repudiandae itaque, architecto ad eveniet
        aliquid, rerum accusamus nihil temporibus error sequi totam placeat
        dolore nesciunt!
      </p>
    </div>
    <div class="card-actions">
      <button mat-stroked-button color="primary">Enviar solicitud</button>
    </div>
  </mat-card>
</ng-container>
