<app-filters
  [isMusiciansList]="false"
  (filterSelected)="getList($event)"
></app-filters>
<ng-container *ngFor="let advertisement of advertisements">
  <mat-card class="card-content">
    <div class="card-info">
      <a [routerLink]="'../band/profile/' + advertisement.bandId">
        <app-profile-image
          [picByte]="advertisement.bandImage.picByte"
          [type]="advertisement.bandImage.type"
          class="medium-size"
        ></app-profile-image>
      </a>

      <h3>{{ advertisement.bandId }}</h3>
      <!-- TODO: Change with band name -->
      <p>
        {{ advertisement.description }}
      </p>
    </div>
    <div class="card-actions">
      <ng-container *ngIf="isMember(advertisement.bandId); else member">
        <button
          mat-stroked-button
          color="primary"
          (click)="openApplicationDialog(advertisement.adId)"
        >
          Enviar solicitud
        </button>
      </ng-container>
    </div>
  </mat-card>
</ng-container>

<ng-template #member>
  <button mat-stroked-button disabled>Ya eres miembro</button>
</ng-template>
