<app-filters
  title="Avisos"
  [isMusiciansList]="false"
  (filterSelected)="getList($event)"
></app-filters>
<ng-container *ngFor="let advertisement of advertisements">
  <mat-card class="card-content">
    <div class="card-info">
      <a [routerLink]="'../band/profile/' + advertisement.bandId">
        <app-profile-image
          [picByte]="advertisement.bandImage.picByte"
          [type]="advertisement.bandImage.type"
          class="medium-size"
        ></app-profile-image>
      </a>

      <h3>{{ advertisement.bandName }}</h3>
      <p>
        {{ advertisement.description }}
      </p>
    </div>
    <div class="card-actions">
      <button
        mat-stroked-button
        color="primary"
        [disabled]="advertisement.status !== advertisementStatus.Eligible"
        (click)="openApplicationDialog(advertisement.adId)"
      >
        {{ getButtonLabel(advertisement.status) }}
      </button>
    </div>
  </mat-card>
</ng-container>
