$main-color: #e18735;
$secondary-color: #49547a;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$white: #ffffff;
$black: #000000;
$text-grey: #8d8d8d;
$text-light-grey: #787878;
