// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-color: (
  50: #fdfdea,
  100: #faf9cb,
  200: #f8f5a9,
  300: #f6f189,
  400: #f3ec71,
  500: #f0e75b,
  600: #f1d958,
  700: #edc34e,
  800: #e9ac45,
  900: #e18835,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$secondary-color: (
  50: #e9ebef,
  100: #c7cdd9,
  200: #a4acbf,
  300: #838ca5,
  400: #697393,
  500: #505b83,
  600: #49547a,
  700: #414a6e,
  800: #394061,
  900: #394061,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$primary-palette: mat.define-palette($primary-color, 900);
$secondary-palette: mat.define-palette($secondary-color, 600);
$accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$red-palette);

$armatubanda-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      secondary: $secondary-color,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($armatubanda-frontend-theme);
@include mat.all-component-themes($armatubanda-frontend-theme);

$main-color: #e18735;
$secondary-color: #49547a;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$white: #ffffff;
$black: #000000;
$text-grey: #8d8d8d;
$text-light-grey: #787878;
