<div class="container" *ngIf="!userCreated">
  <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register">
      <h2>Registro</h2>
      <app-input-text
        formControlName="email"
        type="email"
        placeholder="Email"
        [required]="true"
        invalidErrorMessage="Ingrese un email válido"
      >
      </app-input-text>
      <app-input-text
        formControlName="password"
        type="password"
        placeholder="Contraseña"
        [required]="true"
        invalidErrorMessage="La contraseña debe tener un mínimo de 6 caracteres"
      >
      </app-input-text>
      <app-input-text
        formControlName="repeatPassword"
        type="password"
        placeholder="Repetir contraseña"
        [required]="true"
        invalidErrorMessage="Las contraseñas no coinciden"
      >
      </app-input-text>
      <button type="submit">Registrarse</button>
      <p>¿Ya tienes cuenta?</p>
      <a href="/auth/login">Iniciar sesión</a>
    </div>
  </form>
</div>

<div class="alert-success-message" *ngIf="userCreated">
  ¡Registro completado con éxito! Hemos enviado un correo de confirmación a
  test@example.com. Por favor, verifica tu bandeja de entrada y sigue las
  instrucciones para activar tu cuenta. ¡Gracias por unirte a nosotros!
</div>
