<span>test</span>
<div>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Selecciona uno</mat-label>
      <mat-select [formControl]="instrumentSelectionForm" required>
        <mat-option *ngFor="let instrument of data">
          {{ instrument }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-select
      [items]="data"
      [formControl]="instrumentSelectionForm"
      placeholder="Selecciona uno"
      [required]="true"
    >
    </app-select>
  </div>
</div>
